#outerBox {
    width: 50%;
    margin: auto;
    border: 30px solid gray;
    padding: 10px;
}

.date {
    color: aqua;
}

.textBox {
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
}

.firstParagraph {
    padding-left: 2px;
    border-left: 3px solid gray;
}
